<ons-navigator ng-controller="debugController">
    <ons-page>
   
    
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">Debug Page</div>
        </ons-toolbar>
        
        <div style="text-align: center">
            <h1>デバッグ</h1>
            <ons-button onclick="slidingMenu.setMainPage('map.html')">Map</ons-button>
            <br /><br />
            
            <ons-button onclick="cloudUpload()">CloudUpload</ons-button>
            <br /><br />
            
            <ons-button onclick="localStorageClear()">localStorageClear</ons-button>
            <br /><br />
             
            <ons-button ng-controller="debugController" ng-click="openBrowser()">健康管理</ons-button>
            <br /><br />
            
        </div>
    </ons-page>
</ons-navigator>